.device
  .display.upper
    -Task.all.each do |task|
      .task
        .task-name{:href => "/task/#{task.id}"}= task.name
        
        .progress-bar
          .full-bar{:style => "width: #{task.percent_progress}%"}
          .hover
        .update-overlay
          %form.update-form{:action => "/update-progress", :method => "POST"}
            %input{:type => "hidden", :name => "task_id", :value => task.id}
            %label Progress (out of #{task.finished_value})
            %input.progress-field{:type => "text", :name => "progress", :style => 'margin: 0 15px; width: 30px', :value => task.current_progress}

  .display.lower
    %form{:action => "/new-task", :method => "POST"}
      .two-story
        %small Name
        %br
        %input{:type => "text", :name => "name", :style => 'width: 200px'}
      .two-story
        %small Progress
        %br
        %input{:type => "text", :name => "current_progress", :style => 'width: 30px', :value => '0'}
        %span{:style => "margin: 0 5px;"} out of
        %input{:type => "text", :name => "finished_value", :style => 'width: 30px'}
      .two-story
        %input{:type => "submit", :value => "Create Task", :style => "width: 125px"}
        
        
:javascript
  $(".hover").click(function(){
    $(".update-overlay").hide();
    var currentOverlay = $(this).parent().parent().children(".update-overlay");
    currentOverlay.fadeIn(300);
    currentOverlay.find(".progress-field").focus();
  });
  $(".update-form").submit(function(){
    var form = this;
    $.post("/update-progress", $(this).serialize(), function(data){
      $(form).parent().parent().find(".full-bar").animate({"width": data+"%"}, 500);
    });
    $(".update-overlay").fadeOut(100);
    return false;
  });