/* CSS Mini Reset http://www.vcarrer.com/2010/05/css-mini-reset.html */

html, body, div, form, fieldset, legend, label
  margin: 0
  padding: 0

body
  margin: 10px

table
  border-collapse: collapse
  border-spacing: 0

th, td
  text-align: left
  vertical-align: top

h1, h2, h3, h4, h5, h6, th, td, caption
  font-weight: normal

img
  border: 0

a
  text-decoration: none
  font-weight: bold
  color: #000
  &:hover
    color: #888
  
.task
  margin: 5px 0
  position: relative
  
.task-name
  display: inline-block
  width: 150px
  
.two-story
  display: inline-block
  margin-right: 25px
  small
    color: #888
    margin-left: 2px

.progress-bar
  vertical-align: text-top
  position: relative
  top: -3px
  display: inline-block
  height: 27px
  width: 375px
  border-radius: 5px
  background: #ddd
  .full-bar
    border: 1px solid #0A3
    border-radius: 5px 0 0 5px
    padding: 0
    float: left
    height: 25px
    background: #0c5
    position: relative
  .empty-bar
    border: 1px solid #ccc
    border-radius: 0 5px 5px 0
    padding: 0
    position: relative
    float: left
    height: 25px
    background: #eee
  .hover
    opacity: 0.15
    position: absolute
    top: 0
    left: 0
    border-radius: 5px
    height: 27px
    width: 373px
    &:hover
      background: #999
.device
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5)
  text-shadow: 0 -1px 1px rgba(200,200,200,0.5)
  
  border-radius: 20px
  background: #f5f5f5
  width: 600px
  margin: 20px auto
  padding: 10px
  .display
    margin: 10px
    padding: 15px
    
.update-overlay
  z-index: 1000
  position: absolute
  display: none
  background: #333
  left: 154px
  top: -3px
  height: 22px
  border-radius: 5px
  color: #fff
  padding: 3px
  text-align: center
  width: 370px
  